nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .brand-container {
        .brand {
            img {
                height: 100%;
            }
        }

        .toggle-container {
            display: none;

            .mode {
                .dark {
                    color: black;
                }

                .light {
                    color: yellow;
                }
            }
        }
    }

    .links-container {
        .links {
            list-style-type: none;
            display: flex;
            gap: 4rem;

            li {
                display: flex;
                align-items: center;

                #warning {
                    color: var(--pink);
                }

                a {
                    color: var(--accent-color1);
                    text-decoration: none;
                    font-size: 1.3rem;
                    font-weight: bold;
                }

                .dark {
                    color: black;
                }

                .light {
                    color: yellow;
                }
            }
        }
    }
}

[data-theme="light"] {
    nav {
        .brand-container {
            .brand {
                img {
                    filter: brightness(0);
                }
            }
        }
    }
}
